@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,800);

:root {
  --color-basic: black;
  --color-secondary: white;
  --color-prime: #c31432;
  --bg-color: linear-gradient(to right, #c31432, #240b36);
  background: rgb(236, 236, 233);
}



body {
  font-family: "Montserrat";
}

/* Wrapper */

.wrapper {
  width: 70vw;
  margin: 10px auto;
  background: var(--color-secondary);
  box-shadow: 1px 1px 5px rgb(117, 112, 112);
}

.wrapper__side-bar{
  min-width: 40%;
  background-color: var(--color-basic);
  color: var(--color-secondary);
  padding: 2em 0 0px 0;
}

.wrapper__timeline{
  min-width: 60%;
  padding: 10px 0;
}

/*? HEADER */

.header {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  color: var(--color-secondary);
  padding: 2em 0 2em 2em;
  background: var(--bg-color);
  justify-content: space-between;
}

.header__avatar {
  
}

.header__avatar-wrapper {
  display: flex;
  /* max-width: 50% */
}

.header__image {
  width: 20vw;
  height: auto;
  border: solid white 15px;
  box-shadow: rgb(29, 26, 26) 15px 15px 20px;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-transform: uppercase;
  font-weight: 300;
}

.header__text_title {
  font-size: 2.3vw;
}

.header__text_subtitle {
  font-size: 2vw;
  align-self: flex-end;
  padding: 0 10px;
  background-color: var(--color-prime);
}

@media screen and (max-width: 720px) {
  .header {
    flex-direction: column;
    padding: 2em;
  }

  .header__avatar-wrapper{
    justify-content: center;
  }

  .header__image{
    width: 50%;
  }

  .header__text {
    min-height: 100px;
    /* Don't touch it(down) */
    text-align: center;
    align-self: center;
  }

  .header__text_title {
    font-size: 32px;
  }


  .header__text_subtitle{
    font-size: 18px;
    line-height: 30px;
    background-color: transparent;
  }
}

/*? MAIN */

.main {
  display: flex;
  align-self: center;
}

/* SIDE BAR */
.side-bar__title {
  padding-left: 1em;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 600;
  letter-spacing: 2px;
}

.side-bar__title_prime {
  background: var(--bg-color);
  line-height: 4em;
}

.side-bar__line {
  overflow: hidden;
}

.side-bar__line::after{
  content: "";
  height: 2px;
  background-color: var(--color-secondary);
  display: inline-block;
  width: 92%;
  padding-left: 10px;
  margin-left: 1em;
}

.side-bar__paragraph {
  padding: 2em 30px 2em 1em;
  line-height: 1.8em;
  text-align: justify;
}

.side-bar__list {
  padding: 2em;
  line-height: 1.8em;
  list-style: disc;
  color: var(--color-prime);
}

.side-bar__list span {
  color: var(--color-secondary);
}

/* TIMELINE */

.time-line{
  color: var(--color-basic);
  padding: 0 1em;
}

.time-line__title{
  line-height: 4em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.time-line__title::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 100%;
  vertical-align: middle;
  margin-left: 10px;
  background-color: var(--color-prime);
}

.time-line__event {
  line-height: 3em;
  font-weight: 600;
}

.time-line__date {
  line-height: 1em;
  font-style: italic;
  line-height: 1.5em;
  
}

/*! CODE  */

.code_violet{
  color: violet;
}

.code_orange{
  color: orange;
}

.code_orangered{
  color:orangered
}

.code_green {
  color: darkcyan;
}

.code__comment {
  color: yellowgreen;
}

.code {
  background-color: rgb(17, 28, 44);
  color: var(--color-secondary);
  font-weight: 500;
  font-style: italic;
  line-height: 2em;
  padding: 5px;
}

/*? FOOTER */

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background: var(--bg-color);
  
}

.link{
  flex: 1 100px;
  vertical-align: middle;
  text-decoration-line: none;
  color: var(--color-secondary);
}

.link_green:hover{
  color: chartreuse;
}

.link_black{
  font-weight: 700;
  /* transition: 0.3s; */
  position: relative;
}

.link_github{
  position: absolute;
  left: -25px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url('../img/free-icon-github-logo-25231.svg');
  background-image: url('../img/github-while.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.link_black:hover{
  color: var(--color-basic);
}

.link_black:hover > .link_github {
  background-image: url('../img/free-icon-github-logo-25231.svg');
}

.footer__copiright {
  flex-shrink: 1 100px;
  color: var(--color-secondary);
  font-weight: 900;
}

.footer__logo {
  flex-shrink: 100px;
  width: 80px;
  margin: 2%;
}

@media screen and (max-width: 720px) {
  .wrapper{
    width: 100vw;
    margin: 0;
  }

  .main {
    flex-direction: column;
  }

  /* media footer */
  .footer {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .footer__logo{
    order: 0;
  }

  .footer__copiright{
    order: 2;
  }

  .link_black {
    order: 2;
    color: blue;
    text-decoration-line: underline;
  }

  .link_black:hover {
    text-decoration-line: none;
    color: blue;
  }
}
